.blogs {
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);

  .row {
    @include media("<=tablet") {
      flex-direction: column;
    }
    .blog {
      position: relative;
      background: $black;
      cursor: pointer;
      &:hover {
        .blog-image {
          opacity: 0.4;
        }
      }
      .blog-details {
        width: 33.333333vw;
        height: 50vh;
        height: calc(var(--vh, 1vh) * 50);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 32px;
        box-sizing: border-box;
        z-index: 1;
        position: relative;
        @include media("<=tablet") {
          width: 100vw;
        }
        @include media("<=phone") {
          padding: 16px;
        }

        span {
          margin-top: 100px;
          font-size: 1.6rem;
          opacity: 0.8;
          color: $white;
          font-weight: 600;
          @include media("<=desktop", "<=tablet") {
            font-size: 1.4rem;
          }
          @include media("<=phone") {
            font-size: 1.2rem;
            line-height: 2.2rem;
          }
        }
        h2 {
          font-size: 2.4rem;
          line-height: 3.4rem;
          width: 85%;
          margin-top: 16px;
          color: $white;
          @include media("<=desktop", "<=tablet") {
            font-size: 2rem;
            line-height: 2.4rem;
          }
          @include media("<=phone") {
            font-size: 1.2rem;
            line-height: 2.4rem;
            margin-top: 8px;
          }
        }
      }
      .blog-image {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        opacity: 0.65;
        transition: 0.4s cubic-bezier(0.6, -0.5, 0.1, 0.99);
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.btn-row {
  width: 100%;
  position: relative;
  z-index: 1;
  a {
    display: flex;
    font-size: 1.6rem;
    color: $white;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
    @include media("<=tablet") {
      font-size: 1.3rem;
    }
    @include media("<=phone") {
      font-size: 1.1rem;
    }
  }
  svg {
    margin-left: 16px;
    border: 2px solid $white;
    padding: 12px;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
    @include media("<=tablet") {
      padding: 6px;
      width: 20px;
      height: 20px;
    }
    @include media("<=phone") {
      padding: 4px;
      width: 16px;
      height: 16px;
    }
  }
  &:hover {
    svg {
      background: $white;
      color: $black;
    }
  }
}
